<% provide(:title, 'Portfolio') %> 
<div class="container">
	<div class="row">
        <div class="box">
          <div class="col-lg-12 text-center">
            <div id="carousel-example-generic" class="carousel slide"> 
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active"> 
                    <%= photo_for @photo_add %>        
                    <br>
                    <div class="opis"><%= @photo_add.content %></div>
                    <br>                         
                </div>
              </div>
            </div>
          </div>
         
        </div>
	</div>
</div>

<!--<div class="row">
  <div class="col-sm-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="bober.jpg" alt="..." height="180" width="171">
    </a>
  </div>  
</div>-->