<div class="letter-white">
<h1>Controll panel</h1>
<% if signed_in? %>
	<%= link_to "Sign out", signout_path, method: "delete" %>
	<div class="span8">
      <ol class="microposts">
      	<% @photo_adds.each do |photo| %>
        	<%= render photo %>
        	<%= thumb_for photo %>
      	<% end %>
      </ol>
      <section>
        <%= render 'shared/photo_add_form' %>
      </section>
  	</div>
<% end %>
</div>