<div class="container">
	<div class="row">
        <div class="box">
          <div class="col-lg-12 text-center">
            <div id="carousel-example-generic" class="carousel slide"> 
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
              	<div class="contact-form">
                	<h1>Kontakt</h1>
									<%= render 'contact_form' %> 
								</div>
								<div class="contact-data">
									<h1>Barbara Dąbek</h1>
									<h3>Telefon: 0700-333-666</h3>
								</div>
              </div>
            </div>
          </div>
        </div>
	</div>
</div>